@use "global" as *;

.about__container {
  margin-top: rem(24);
  position: relative;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__img1 {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.about__img1 img {
  aspect-ratio: 880/581;
  object-fit: cover;
  height: auto;
  z-index: 1;
}

.about__img2 {
  z-index: 2;
}

.about__img2 img {
  aspect-ratio: 606/400;
  object-fit: cover;
  height: auto;
  z-index: 2;
}

.about__wrap {

}

.about__title {

}

.about__wrap-body {

}

.about__text {

}

.about-button {

}