@use "global" as *;

.blog {
  padding-top: rem(74.6);
  position: relative;

  @include mq(md) {
    padding-top: rem(89);
  }
}

.blog::before {

  @include mq(md) {
    content: "";
    display: block;
    width: 100%;
    height: rem(500);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://github.com/nishiro1228/CodeUps-/blob/main/src/images/common/Blog-bg.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.blog__inner {
  position: relative;
}

.blog__bg {
}

.blog__img {
  @include mq(md) {
    max-width: rem(437);
    position: absolute;
    top: rem(-63);
    left: rem(100);
  }
}

.blog__img img {
  @include mq(md) {
    aspect-ratio: 437/201;
    object-fit: cover;
    height: auto;
  }
}

.blog__cards {
  max-width: 1130px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  margin-top: rem(27.2);
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);

  @include mq(sm) {
    width: 100%;
    margin-top: rem(50);
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: rem(80);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__item {
  padding: rem(16) rem(16) rem(22.4) rem(16);


  @include mq(md) {
    padding: rem(16) rem(16) rem(19.2) rem(16);
  }
}

.blog__card-img {
}

.blog__card-img img {
  aspect-ratio: 301/201;
  object-fit: cover;
  height: auto;
}

.blog-card__wrap {
  padding: rem(17.6) 0 0 0 !important;
}

.blog-button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}