@use "global" as *;

.contact__head-title {}

.contact-title {
  font-size: rem(80);
  font-family: $english-font-family;
  font-weight: $regular;
  line-height: 1;
  margin-left: rem(-7.2);

  @include mq(md) {
    margin-left: 0;
  }
}

.contact-title::first-letter {
  color: $green;
}

.contact-sub-title {
  color: $green;
}