@use "global" as *;

.contact {
  padding-bottom: rem(98.4);

  @include mq(md) {
    padding-bottom: rem(160);
  }
}

.contact__inner {
  position: relative;
}

.contact-button {
  margin-top: rem(40);
}

.contact__img {
  max-width: rem(109);
  position: absolute;
  top: rem(-23.2);
  right: rem(15);

  @include mq(md) {
    max-width: rem(301);
    top: rem(-36);
    right: rem(41);
  }
  
  @include mq(xl) {
    max-width: rem(301);
    top: rem(-36);
    right: rem(-103);
  }
}

.contact__img img {
  aspect-ratio: 109/50;
  object-fit: cover;
  height: auto;

  @include mq(md) {
    aspect-ratio: 301/138;
  }
}