@use "global" as *;

.drawer-menu__list {}

.drawer-menu__item {
  padding-left: rem(21.8);
}

.drawer-menu__item:nth-child(1) {
  padding-left: rem(25);
  margin-top: rem(-6);
}

.drawer-menu__item:nth-child(2) {
  order: 2;
  padding-left: rem(25);
  margin-top: rem(23.2);

  @include mq(md) {
    order: initial;
    margin-top: 0;
    margin-left: rem(14.5);
  }
}

.drawer-menu__item:nth-child(3) {
  order: 1;
  padding-left: rem(10);
  margin-top: rem(-7.2);

  @include mq(md) {
    order: initial;
    margin-left: rem(9);
  }
}

.drawer-menu__item:nth-child(4) {
  order: 3;
  padding-left: rem(10);
  margin-top: rem(26);


  @include mq(md) {
    order: initial;
    margin-top: 0;
    margin-left: rem(5);
  }
}