@use "global" as *;

.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width:  100%;
  height: 100vh;
  background-color: $green;
  padding-top: rem(22.8);
  padding-left: rem(12);
  padding-bottom: rem(50);
  overflow: scroll;
}

.drawer-menu__inner {
  width:  100%;
  height: inherit;
}

.drawer__logo {
  max-width: rem(102);
  width:  100%;
}

.drawer-menu__body {
  position: relative;
  margin-top: rem(46.6);
}