@use "global" as *;

.header {
  height: rem(80);
  background-color: #0D2936;

  @include mq(md) {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  padding-left: rem(15);

  @include mq(md) {
    padding-left: rem(22);
  }
}

.header__logo {
  height: inherit;
  display: flex;
  align-items: center;
  width: rem(132);

  @include mq(md) {
    width: rem(171);
    margin-right: auto;
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__nav {
  height: inherit;
}

.header__nav-list {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__nav-item {
  height: inherit;
}

.header__item-contact {
  display: flex;
  align-items: center;

  @include mq(md) {
    padding-right: rem(20);
    padding-top: rem(25);
    margin-left: auto;
  }
}

.header__link {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 rem(27.5);
  color: $white;
  font-family: $english-font-family;
  font-weight: $medium;
  
  @include mq(md) {
    font-size: rem(18);
  }
}

// .header__hamburger {
//   position: fixed;
//   z-index: 9999;
//   top: prem(30);
//   right: prem(15);
//   cursor: pointer;
//   width: prem(25);
//   height: prem(16);
// }

// .header__hamburger.is-active {
//   right: prem(20);
// }

// .header__hamburger span {
//   position: absolute;
//   left: 0;
//   display: inline-block;
//   width: 100%;
//   height: prem(2);
//   background-color: $color-white;
//   transition: transform 0.3s;
// }

// .header__hamburger span:nth-child(1) {
//   top: prem(0);
// }

// .header__hamburger span:nth-child(2) {
//   top: prem(8);
//   transition: opacity 0.3s;
// }

// .header__hamburger span:nth-child(3) {
//   top: prem(16);
// }

// .header__hamburger.is-active span:nth-child(1) {
//   top: prem(15);
//   transform: rotate(-45deg);
// }

// .header__hamburger.is-active span:nth-child(2) {
//   opacity: 0;
// }

// .header__hamburger.is-active span:nth-child(3) {
//   top: prem(15);
//   transform: rotate(45deg);
// }

// .drawer-menu {
//   position: absolute;
//   z-index: 5000;
//   top: 0;
//   left: 0;
//   display: none;
//   width:  100%;
//   height: 100vh;
//   background-color: rgba(34, 34, 34, 0.94);
//   overflow: scroll;
//   padding-top: prem(50);
//   padding-bottom: prem(50);
// }

// .drawer-menu__inner {
//   width:  100%;
//   height: inherit;
// }

// .drawer-menu__body {
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

// }

// .drawer-menu__list {
//   width: 100%;
// }

// .drawer-menu__item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width:  100%;
// }

// .drawer-menu__item-img {
//   display: flex;
//   align-items: center;
//   margin-right: prem(10);
//   width: 14px;
// }

// .drawer-menu__item-img img {
//   width: 14px;

//   @include mq(md) {
//     width: prem(23);
//   }
// }

// .drawer-menu__link {
//   font-size:  prem(16);
//   font-family: $font-family-english;
//   font-weight: $medium;
//   color: $color-white;
//   letter-spacing: 0.05em;
//   padding: prem(25) 0;
//   width:  100%;
//   height: inherit;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex: 1;
// }

// .drawer-menu__contact {
//   margin-top: prem(24.4);
//   text-align: center;
// }