@use "global" as *;

.page-top {
  max-width: rem(48);
  z-index: 10;

  @include mq(md) {
    max-width: rem(86.4);
  }
}

.page-top img {
  aspect-ratio: 48/48;
  object-fit: cover;
  height: auto;
  background-color: $white;
  filter: initial;
  border-radius: rem(999);

  @include mq(md) {
    aspect-ratio: 80/80;
  }
}