@use "global" as *;

.price {
  padding-top: rem(75.2);
  padding-bottom: rem(80);

  @include mq(md) {
    padding-top: rem(92);
    padding-bottom: rem(100);
  }
}

.price__inner {
  position: relative;
}

.price-button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.price__img {
  @include mq(md) {
    max-width: rem(437);
    position: absolute;
    bottom: rem(-39);
    left: calc(45.8% - min(44vw, 35.5rem));
  }
}

.price__img img {
  @include mq(md) {
    aspect-ratio: 437/201;
    object-fit: cover;
    height: auto;
  }
}