@use "global" as *;

.sub-mv {
  min-height: rem(400);
}

.sub-mv__inner {
  min-height: inherit;
  position: relative;
  width:  100%;
}

.sub-mv__img {
  min-height: inherit;
}

.sub-mv__img img {
  min-height: inherit;
}