@use "global" as *;

.swiper {
}

.swiper-button-prev,
.swiper-button-next {
  height: rem(80) !important;
  width: rem(80) !important;
}
/* 矢印を消して画像に変更する */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
}
/* 前に戻る矢印の画像パス */
.swiper-button-prev {
  background-image: url(https://raw.githubusercontent.com/nishiro1228/CodeUps-/f944ced5f3332aaaef6b842b356283abd150d2f4/src/images/common/prev.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* 次に進む矢印の画像パス */
.swiper-button-next {
  background-image: url(https://raw.githubusercontent.com/nishiro1228/CodeUps-/f944ced5f3332aaaef6b842b356283abd150d2f4/src/images/common/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next {
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
}

.swiper-wrapper  {
}