@use "global" as *;

.voice {

}

.voice__inner {
  position: relative;

  @include mq(sm) {
    max-width: rem(600);
    width:  100%;
  }
}

.voice-button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}